/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./scss/index.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Offside&family=Pacifico&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Offside&family=Pacifico&family=Permanent+Marker&display=swap");
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0 !important;
  font-family: "Fira Code", monospace;
  background-color: #f2f2f2;
  margin-left: 0;
  margin: 0;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 80%;
  margin-bottom: 120px;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  max-width: 250px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  animation: floatImage 3s ease-in-out infinite alternate;
  width: 100%;
  max-width: 300px;
}

.counter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  gap: 3rem;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(135deg, #f25757, #f2858e);
  gap: 1rem;
  padding-block: 1rem;
}

.counter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: none;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  font-family: "Offside", serif;
  color: #f2f2f2;
  padding: 20px;
  border-radius: 12px;
  flex-wrap: wrap;
  gap: 10px;
}

.counter-title-span {
  color: black;
  font-family: "Offside", serif;
  font-size: 18px;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  min-width: 90px;
  font-size: 1.8rem;
  font-weight: bold;
  transition: background 0.3s ease;
  margin: 5px;
}

.time-box:hover {
  background: linear-gradient(135deg, #f2858e, #f25757);
}

.time-box span {
  font-size: 1.2rem;
  color: #f2f2f2;
  text-transform: uppercase;
}

.time-box div {
  font-size: 2.5rem;
  color: #f2f2f2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes floatImage {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
.bubble {
  position: absolute;
  border-radius: 50%;
  background: rgba(242, 133, 142, 0.3);
  animation: float 10s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-200px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.title {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  margin-bottom: 20px;
  word-break: keep-all; /* Evita que se partan las palabras */
  white-space: normal; /* Permite que las palabras se rompan solo cuando sea necesario */
  line-height: 1.2; /* Ayuda a evitar que las palabras se corten en móviles */
  width: 80%;
}

.title span {
  opacity: 0;
  animation: fadeInText 1s forwards;
  background-image: linear-gradient(135deg, #f25757, #f2858e); /* Gradiente de las cajas del contador */
  -webkit-background-clip: text; /* Aplica el gradiente solo al texto */
  color: transparent; /* Necesario para que el color de fondo se vea en el texto */
}

@keyframes fadeInText {
  to {
    opacity: 1;
  }
}
/* Para que las letras se animen en secuencia */
.title span:nth-child(1) {
  animation-delay: 0s;
}

.title span:nth-child(2) {
  animation-delay: 1s;
}

.title span:nth-child(3) {
  animation-delay: 2s;
}

.title span:nth-child(4) {
  animation-delay: 3s;
}

.title span:nth-child(5) {
  animation-delay: 4s;
}

.title span:nth-child(6) {
  animation-delay: 5s;
}

.title span:nth-child(7) {
  animation-delay: 6s;
}

.title span:nth-child(8) {
  animation-delay: 7s;
}

.title span:nth-child(9) {
  animation-delay: 8s;
}

.title span:nth-child(10) {
  animation-delay: 9s;
}

.title span:nth-child(11) {
  animation-delay: 10s;
}

.title span:nth-child(12) {
  animation-delay: 11s;
}

.title span:nth-child(13) {
  animation-delay: 12s;
}

.title span:nth-child(14) {
  animation-delay: 13s;
}

.title span:nth-child(15) {
  animation-delay: 14s;
}

.title span:nth-child(16) {
  animation-delay: 15s;
}

.title span:nth-child(17) {
  animation-delay: 16s;
}

.title span:nth-child(18) {
  animation-delay: 17s;
}

.title span:nth-child(19) {
  animation-delay: 18s;
}

.title span:nth-child(20) {
  animation-delay: 19s;
}

.title span:nth-child(21) {
  animation-delay: 20s;
}

.title span:nth-child(22) {
  animation-delay: 21s;
}

.title span:nth-child(23) {
  animation-delay: 22s;
}

.title span:nth-child(24) {
  animation-delay: 23s;
}

.title span:nth-child(25) {
  animation-delay: 24s;
}

.title span:nth-child(26) {
  animation-delay: 25s;
}

.title span:nth-child(27) {
  animation-delay: 26s;
}

.title span:nth-child(28) {
  animation-delay: 27s;
}

.title span:nth-child(29) {
  animation-delay: 28s;
}

.title span:nth-child(30) {
  animation-delay: 29s;
}

/* Hacemos el título más pequeño en dispositivos móviles */
@media (max-width: 768px) {
  .title {
    font-size: 2rem; /* Reducir el tamaño del título */
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 15px;
  }
  .title span {
    font-size: 1.6rem;
  }
  .countdown {
    font-size: 1.5rem;
    gap: 10px;
    padding: 15px;
  }
  .time-box {
    min-width: 70px;
    font-size: 1.4rem;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .time-box div {
    font-size: 2rem;
  }
  .image-container img {
    max-width: 200px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 1.6rem;
  }
  .title span {
    font-size: 1.4rem;
  }
  .countdown {
    font-size: 1.2rem;
    gap: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .time-box {
    min-width: 60px;
    font-size: 1.2rem;
    padding: 10px;
    width: 20%;
  }
  @keyframes pulseScale {
    0% {
      transform: scale(0.9); /* Escala normal */
    }
    50% {
      transform: scale(1); /* Escala a 1.2 */
    }
    100% {
      transform: scale(0.9); /* Regresa a su tamaño original */
    }
  }
  .time-box#forNextDay {
    animation: pulseScale 1s ease-in-out infinite; /* Aplica la animación al time-box de los segundos */
  }
  .time-box div {
    font-size: 1.8rem;
  }
  .image-container img {
    max-width: 180px;
  }
  .time-box span {
    font-size: 0.8rem;
    color: black;
  }
}
.embla-scale {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}

.embla__viewport-scale {
  overflow: hidden;
}

.embla__container-scale {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide-scale {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  max-width: 265px;
}

.tween-node {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.embla__products-unavailable-slider {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-size-sm: 100%;
  --slide-size-md: 50%;
  --slide-size-lg: 50%;
  --slide-size-xl: 33.3333333333%;
  --slide-size-xxl: 25%;
}

.embla__general-slider {
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size-sm: 50%;
  --slide-size-md: 33.3333333333%;
  --slide-size-lg: 25%;
  --slide-size-xl: 20%;
}

.embla__encarte-slider {
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  --slide-height: 19rem;
  --slide-spacing: 1.5rem;
  --slide-size-xs: 50%;
  --slide-size-sm: 33.3%;
  --slide-size-md: 25%;
  --slide-size-lg: 25%;
  --slide-size-xl: 20%;
}

.embla__slide-slider-unavailable {
  min-width: 0;
  flex: 0 0 var(--slide-size);
}
@media (min-width: breakpoint(sm-start)) and (max-width: breakpoint(sm-end)) {
  .embla__slide-slider-unavailable {
    flex: 0 0 var(--slide-size-sm);
  }
}
@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
  .embla__slide-slider-unavailable {
    flex: 0 0 var(--slide-size-md);
  }
}
@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
  .embla__slide-slider-unavailable {
    flex: 0 0 var(--slide-size-lg);
  }
}
@media (min-width: breakpoint(xl-start)) and (max-width: breakpoint(xl-end)) {
  .embla__slide-slider-unavailable {
    flex: 0 0 var(--slide-size-xl);
  }
}
@media (min-width: breakpoint(xl-end)) {
  .embla__slide-slider-unavailable {
    flex: 0 0 var(--slide-size-xxl);
  }
}

.embla__slide-slider {
  min-width: 0;
  flex: 0 0 var(--slide-size-sm);
  padding-left: var(--slide-spacing);
}
@media (min-width: breakpoint(sm-start)) and (max-width: breakpoint(sm-end)) {
  .embla__slide-slider {
    flex: 0 0 var(--slide-size-sm);
  }
}
@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
  .embla__slide-slider {
    flex: 0 0 var(--slide-size-md);
  }
}
@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
  .embla__slide-slider {
    flex: 0 0 var(--slide-size-lg);
  }
}
@media (min-width: breakpoint(lg-end)) {
  .embla__slide-slider {
    flex: 0 0 var(--slide-size-xl);
  }
}

.embla__slide-slider-encarte {
  min-width: 0;
  flex: 0 0 var(--slide-size-sm);
  padding-left: var(--slide-spacing);
}
@media (min-width: breakpoint(xs-start)) and (max-width: breakpoint(xs-end)) {
  .embla__slide-slider-encarte {
    flex: 0 0 var(--slide-size-xs);
  }
}
@media (min-width: breakpoint(sm-start)) and (max-width: breakpoint(sm-end)) {
  .embla__slide-slider-encarte {
    flex: 0 0 var(--slide-size-sm);
  }
}
@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
  .embla__slide-slider-encarte {
    flex: 0 0 var(--slide-size-md);
  }
}
@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
  .embla__slide-slider-encarte {
    flex: 0 0 var(--slide-size-lg);
  }
}
@media (min-width: breakpoint(xl-start)) and (max-width: breakpoint(xl-end)) {
  .embla__slide-slider-encarte {
    flex: 0 0 var(--slide-size-xl);
  }
}
@media (min-width: breakpoint(lg-end)) {
  .embla__slide-slider-encarte {
    flex: 0 0 var(--slide-size-xl);
  }
}

.embla__container-slider {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.simple-carousel {
  position: relative;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide-bank {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  height: auto;
}
@media (min-width: breakpoint(sm-end)) {
  .embla__slide-bank {
    flex: 0 0 var(--slide-size-sm);
    min-width: 0;
  }
}

.embla__slide-individual {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  grid-gap: 1.2rem;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.6rem;
  gap: 0.6rem;
  align-items: center;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.categories__slider {
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0.5rem;
  --slide-size-test: auto;
  border-bottom: 1px solid #0396da;
}

.categories__slider-items {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size-test);
  min-width: 0;
  justify-content: center;
}

.block__Home-slider {
  max-width: 100%;
  width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-size: 100%;
  position: relative;
}

.block__Home-slider-container {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__dot:focus {
  outline: none;
}

.embla__viewport-slider {
  overflow: hidden;
}

.embla__container-slider-unavailable {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__basic-button {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__prev-button {
  width: 40px;
  height: 40px;
  left: -20px;
  background-color: #fff;
  border: 1px solid #cbd2e1;
}

.embla__prev-button:focus,
.embla__basic-button:focus,
.prev__button-inside :focus,
.next__button-inside :focus,
.embla__next-button:focus {
  outline: none;
}

.embla__next-button {
  width: 40px;
  height: 40px;
  right: -20px;
  background-color: #fff;
  border: 1px solid #cbd2e1;
}

.prev__button-inside {
  width: 40px;
  height: 40px;
  left: 5px;
  background-color: #fff;
  border: 1px solid #cbd2e1;
}

.next__button-inside {
  width: 40px;
  height: 40px;
  right: 5px;
  background-color: #fff;
  border: 1px solid #cbd2e1;
}

.prev__button-bank {
  width: 40px;
  height: 40px;
  left: -20px;
  background-color: #fff;
  border: 1px solid #cbd2e1;
}
@media (min-width: 479px) {
  .prev__button-bank {
    left: -10px;
  }
}
@media (min-width: breakpoint(xs-end)) {
  .prev__button-bank {
    background-color: #fff;
    left: -20px;
  }
}

.next__button-bank {
  width: 40px;
  height: 40px;
  right: -20px;
  background-color: #fff;
  border: 1px solid #cbd2e1;
}
@media (min-width: 479px) {
  .next__button-bank {
    right: -10px;
  }
}
@media (min-width: breakpoint(xs-end)) {
  .next__button-bank {
    background-color: #fff;
    right: -20px;
  }
}

.btn-svg-white {
  color: #0396da;
  fill: #0396da;
  width: 40%;
  height: 40%;
}

.embla__buttons-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

.transition-ease {
  transition: all 0.5s ease;
}

.carousel-render-image {
  width: 265px;
  border-radius: 15px;
  height: 300px;
  object-fit: cover;
  box-shadow: none;
}

.carousel-container-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container-render {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-interactive-title {
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  padding-block: 3%;
  height: 20%;
  justify-content: center;
  font-family: "Offside";
}

.bubble-item {
  position: relative;
  width: 90%;
  height: 100%;
}

.container-bubble {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.container-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("/Valentin.jpg");
  background-size: cover;
  background-repeat: "no-repeat";
  font-style: normal;
  font-family: "Offside";
}

.container-drawer {
  width: 75%;
  height: 100px;
  background-image: linear-gradient(135deg, #f25757, #f2858e);
  border-radius: 30px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  font-family: "Offside", serif;
  font-weight: "bold";
  font-size: 14px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.item-drawer {
  width: 20%;
  border-radius: 25px;
  height: 70%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 0rem;
}

@media (max-width: 480px) {
  .container-drawer {
    width: 90%;
    height: 80px;
  }
  .item-drawer {
    width: 30%;
    height: 90%;
  }
}
